

#header{
    width: 100%;
    height: 50px;
    padding: 20px;
    background-color: lightblue;
    display: flex;
    justify-content: space-between;
}

.banimg{
    width: 100%;
    height: 400px;
}

#footer
{
    width: 100%;
    height: 100px;
    background-color: rgb(187, 215, 224);
    margin-top: 20px;
}

h1.heading 
{   
  font-size: 70px;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  text-align: center;
}

#adminContent
{
    display: flex;
    justify-content: space-between;
}
#adminLeftmenu{
    width: 20%;
    background-color: rgb(104, 100, 100);
    padding: 20px;
}
#adminheader{
    background-color: lightblue;
    text-align: center;
    padding: 20px;
}
#adminData{
    width: 80%;
    padding: 20px;
}

.leftMenu{
    color: white;
    font-weight: bold;
    text-decoration: none;
}
        
#topbrands{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#topFix{
    position: sticky;
    top: 0;
    z-index: 3;
}